In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("car-data.csv")
df.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

In [ ]:
df["Fuel_Type"].value_counts()

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64

In [ ]:
df["Seller_Type"].value_counts()

Dealer        195
Individual    106
Name: Seller_Type, dtype: int64

In [ ]:
df["Transmission"].value_counts()

Manual       261
Automatic     40
Name: Transmission, dtype: int64

In [ ]:
# pd.options.display.max_rows = 30
df["Car_Name"].value_counts()

city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Honda CB Trigger             1
Yamaha FZ S                  1
Bajaj Pulsar 135 LS          1
Activa 4g                    1
Bajaj Avenger Street 220     1
Name: Car_Name, Length: 98, dtype: int64

In [ ]:
# Categorical to Numerical
df["Transmission"].replace(["Manual", "Automatic"], [0,1], inplace=True)
df["Seller_Type"].replace(["Dealer", "Individual"], [0,1], inplace=True)
df["Fuel_Type"].replace(["Petrol", "Diesel", "CNG"], [0,1,2], inplace=True)
df["Car_Name_Numerical"] = pd.factorize(df["Car_Name"])[0]

In [ ]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Car_Name_Numerical
0,ritz,2014,3.35,5.59,27000,0,0,0,0,0
1,sx4,2013,4.75,9.54,43000,1,0,0,0,1
2,ciaz,2017,7.25,9.85,6900,0,0,0,0,2
3,wagon r,2011,2.85,4.15,5200,0,0,0,0,3
4,swift,2014,4.60,6.87,42450,1,0,0,0,4

In [ ]:
# Output preprocessed
df.reset_index(drop=True, inplace=True)
df.to_csv("car-data-preprocessed.csv", encoding="utf8", index=False)